@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito, "Nunito", sans-serif);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

@theme {
  --color-accent-green: #80d8c3;
  --color-accent-yellow: #ffd66b;
  --color-secondary-blue: #4da8da;
  --color-neutral-white: #f5f5f5;
}
